{%- import 'app/controllers/macros/layouts.njk' as layouts -%}
<!DOCTYPE html>
<html lang="en">
  {{ layouts.head('Arduino Lab 04 | Computing Sciences Dept | University of Hartford', 'The 4th in a series of labs using the Arduino platform.', 'lab-04')
  }}
<body>
{% include 'app/controllers/blocks/ie_version_warning.njk' %}
{{ layouts.header(
  'Lab 4 — Working with a Photo Resistor and Speaker' | safe,
  '<a href=".././">Intro to Computers Labs</a>' | safe
) }}
{{ layouts.nav('04/', links) }}
  <main>
    <div class="container">
      <h2>Introduction</h2>
      <p>A photo resistor, also known as a photo cell, is a sensor capable of measuring light through resistance. Photo resistors are used in streetlights to turn them off during the day; in automatic elevator doors to avoid closing them on people as they enter/exit the elevator; and, in  home security systems to turn lights on when a room gets dark to simulate someone being home. In this lab, we’ll trigger a sound on a speaker using light that shines on a photo resistor.</p>

      <h2>What You Need</h2>
      <ul>
        <li>The Arduino <span class="small-caps"><abbr title="Integrated Development Environment">ide</abbr></span></li>
        <li>An Arduino <span class="small-caps">uno</span> revision 3 board</li>
        <li>1 &times; breadboard</li>
        <li>1 &times; 10K&ohm; resistor</li>
        <li>1 &times; photo resistor</li>
        <li>1 &times; small speaker</li>
        <li>7 &times; jumper wire</li>
      </ul>

<!-- The Arduino Sketch -->
      <h2>The Arduino Sketch</h2>
      <ol>
        <li>Connect your Arduino board to your computer, as described in lab 1.</li>
        <li>Copy all the code in the bounded region below into a new Arduino sketch.</li>
        <li>Upload the sketch to your Arduino board.</li>
        <li>Use your phone’s flashlight feature, or some other light source, to shine a light directly onto the photo resistor. Vary the distance from your light source to the photo resistor. The speaker should make a sound as you shine more light on it.</li>
      </ol>

<!-- Code -->
      <pre class="code-sample">
#define PHOTO_RESISTOR     A0   // The pin on which the photo resistor is connected
#define SPEAKER            2    // The pin on which the speaker is connected
#define BAUD_RATE          9600 // The rate at which the serial connection will be made
#define LIGHTING_THRESHOLD 900  // The lighting threshold to pass in order to turn on/off the speaker

int photoResistorReading;

void setup() {
  Serial.begin(BAUD_RATE);

  // Configure the pin on which the speaker is connected as an OUTPUT.
  pinMode(SPEAKER, OUTPUT);

  // Configure the pin on which the photo resistor is connected as an INPUT.
  pinMode(PHOTO_RESISTOR, INPUT);
}

void loop() {
  // Record the photo resistor’s value.
  photoResistorReading = analogRead(PHOTO_RESISTOR);

  if (photoResistorReading > LIGHTING_THRESHOLD) {
    digitalWrite(SPEAKER, HIGH); // Turn the speaker on
  } else {
    digitalWrite(SPEAKER, LOW);  // Turn the speaker off
  }
}
</pre>
    </div>
  </main>
</body>
</html>
