{%- import 'app/controllers/macros/layouts.njk' as layouts -%}
<!DOCTYPE html>
<html lang="en">
  {{ layouts.head('Arduino Lab 04 | Computing Sciences Dept | University of Hartford', 'The 4th in a series of labs using the Arduino platform.', 'lab-04')
  }}
<body>
{% include 'app/controllers/blocks/ie_version_warning.njk' %}
{{ layouts.header(
  'Lab 4 — Working with a Photo Resistor and Speaker' | safe,
  '<a href=".././">Intro to Computers Labs</a>' | safe
) }}
{{ layouts.nav('04/', links) }}
  <main>
    <div class="container">
      <h2>Introduction</h2>
      <p>A photo resistor, also known as a photo cell, is a sensor capable of measuring light through resistance. Photo resistors are used in streetlights to turn them off during the day; in automatic elevator doors to avoid closing them on people as they enter/exit the elevator; and, in  home security systems to turn lights on when a room gets dark to simulate someone being home. In this lab, we’ll trigger a sound on a speaker using light that shines on a photo resistor.</p>
    </div>
  </main>
</body>
</html>
