{%- import 'app/controllers/macros/layouts.njk' as layouts -%}
<!DOCTYPE html>
<html lang="en">
  {{ layouts.head('Arduino Lab 03 | Computing Sciences Dept | University of Hartford', 'The 3rd in a series of labs using the Arduino platform.', 'lab-03')
  }}
<body>
{% include 'app/controllers/blocks/ie_version_warning.njk' %}
{{ layouts.header(
  'Lab 3 — Working with an <abbr title="Red, Green, Blue">RGB</abbr> <abbr title="Light-Emitting Diodes">LED</abbr>' | safe,
  '<a href=".././">Intro to Computers Labs</a>' | safe
) }}
{{ layouts.nav('03/', links) }}
  <main>
    <div class="container">
    </div>
  </main>
</body>
</html>
