{%- import 'app/controllers/macros/layouts.njk' as layouts -%}
<!DOCTYPE html>
<html lang="en">
  {{ layouts.head('Arduino Lab 03 | Computing Sciences Dept | University of Hartford', 'The 3rd in a series of labs using the Arduino platform.', 'lab-03')
  }}
<body>
{% include 'app/controllers/blocks/ie_version_warning.njk' %}
{{ layouts.header(
  'Lab 3 — Working with an <abbr title="Red, Green, Blue">RGB</abbr> <abbr title="Light-Emitting Diodes">LED</abbr>' | safe,
  '<a href=".././">Intro to Computers Labs</a>' | safe
) }}
{{ layouts.nav('03/', links) }}
  <main>
    <div class="container">
      <h2>Introduction</h2>
      <p>An <span class="small-caps"><abbr title="Red, Green, Blue">rgb</abbr></span> <span class="small-caps"><abbr title="Light-Emitting Diodes">led</abbr></span>, sometimes called a tri-color <span class="small-caps"><abbr title="Light-Emitting Diodes">led</abbr></span>, is an <span class="small-caps"><abbr title="Light-Emitting Diodes">led</abbr></span> capable of emitting red, green, blue, and combinations in between of the three. This means that many — in fact, millions — of colors can be emitted by an <span class="small-caps"><abbr title="Red, Green, Blue">rgb</abbr></span> <span class="small-caps"><abbr title="Light-Emitting Diodes">led</abbr></span>. We’ll look at how in this lab.</p>

    </div>
  </main>
</body>
</html>
