{#
  // --------------------------------------------------------------------------------
  // HEAD
  //
  // For SEO purposes, title should not exceed 65 chars.
  //
  // For SEO purposes, description should not exceed 160 chars.
  // --------------------------------------------------------------------------------
#}
{% macro head(title, description, page) -%}
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,600;1,300;1,600&amp;family=Poppins:wght@500&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap">
  <link rel="stylesheet" href="{%- if page == "home" -%} css{% else %}../css{% endif %}/style.css">
</head>
{%- endmacro %}

{#
  // --------------------------------------------------------------------------------
  // NAV
  //
  // currentPage is either an empty string or the name of the current page. If the
  //    latter, then the class “current” is applied to the <li> element to indicate
  //    which page is the current page being viewed by the user.
  //
  // links is a JSON object that references links.json (in the folder app/models)
  //    that contains all the names, anchors, and classes used in this navigation.
  //
  // Because the first two items in the links JSON file aren’t used in the nav, we
  //    skip over them.
  //
  // --------------------------------------------------------------------------------
#}
{% macro nav(currentPage, links) -%}
<nav>
  <div class="container">
    <ul>
    {%- for link in links -%}
      {%- for item in link.nav -%}
        {%- if loop.index > 2 -%}
          <li{% if currentPage == item.anchor %} class="current"{% endif %}><a href="{% if currentPage != "home" %}../{% endif %}{{ item.anchor }}">{{ item.name }}</a></li>
        {%- endif %}
      {% endfor -%}
    {%- endfor %}
    </ul>
  </div>
</nav>
{%- endmacro %}
