<header>
  <div class="container">
    <span class="fa fa-flask"></span>
      <section>
        <h1><a href="./">CS 110・Labs</a></h1>
        <p><a href="./">Intro to Computers</a></p>
      </section>
    <span class="fa fa-flask"></span>
  </div>
</header>
