figure {
  margin: 0 0 0 12px;
  text-align: center;

  img[src="img/arduino-uno.png"] {
    width: 300px;

    @media (min-width: ($viewport-width--phone + 1)) and (max-width: $viewport-width--tablet) {
      width: 50%;
    }
  }

  img[src="img/arduino-ide.png"],
  img[src="img/arduino-ide.png"] + figcaption{
    width: 450px;

    @media (min-width: ($viewport-width--phone + 1)) and (max-width: $viewport-width--tablet) {
      width: 90%;
    }
  }

  figcaption {
    text-align: center;
    font-weight: bold;
    font-size: .85rem;

    span {
      font-style: italic;
    }
  }
}
