@import 'variables';

footer {
  color: $color--header-text;
  background-color: rgb(23, 161, 165);
  padding: 20px 0;
  text-align: center;

  a {
    font-style: italic;
    color: $color--header-text;
  }

  ul {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;

    @media (max-width: $viewport-width--desktop) {
      display: block;
    }

    li {
      font-size: (.9 * $base-typeface-size);

      @media (max-width: $viewport-width--desktop) {
        font-size: (.75 * $base-typeface-size);
        line-height: 1.5;
      }
    }

    li:first-of-type::after,
    li:nth-child(2)::after {
      content: '　';

      @media (max-width: $viewport-width--desktop) {
        content: none;
      }
    }

    li:nth-child(2)::before,
    li:last-of-type:before {
      content: '|　';

      @media (max-width: $viewport-width--desktop) {
        content: none;
      }
    }
  }
}
