@import 'reset';
@import 'classes';
@import 'links';
@import 'mixins';
@import 'variables';
@import 'headings';
@import 'header';
@import 'nav';
@import 'footer';
@import 'figure';

:root {
  @include preserve-css-variable(--primary-color, #000);
  @include preserve-css-variable(--secondary-color, #777);
  @include preserve-css-variable(--tertiary-color, #fff);

  font-size: $base-typeface-size;
}

body {
  color: var(--primary-color);
  font-family: $font-stack--reading-text;
  margin: auto;
  line-height: $leading;
}

main .container ul {
  list-style-type: circle;
  margin: 0 0 20px;

  li {
    margin: 8px 0;
  }
}

main p {
  margin: 0 0 $grid--leading;
}

abbr {
  text-decoration: none;
}

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

sub,
sup {
  ////
  /// Where the magic happens: makes all browsers position the sup/sup properly,
  /// relative to the surrounding text
  ////
  position: relative;

  ////
  /// Note that if you're using Eric Meyer's reset.css, this is already set and
  /// you can remove this rule
  /// surrounding text
  ////
  font-size: 75%;
}

sub {
  ////
  /// Move the subscripted text down, but only half as far down as the superscript
  /// moved up
  ////
  bottom: -.25em;
}

sup {
  ////
  /// Move the superscripted text up
  ////
  top: -.5em;
}

main {
  a {
    &:link {
      border: {
        top: 1px solid transparent;
        right: 1px solid transparent;
        bottom: 1px solid $color--links;
        left: 1px solid transparent;
      }

      transition: 375ms;
    }

    border-radius: 4px;

    &:hover {
      border: 1px solid $color--links;
    }
  }
}

.teletype {
  font-family: 'Fira Code', monospace;
  letter-spacing: .25px;
  font-variant: small-caps;
  font-weight: 500;
}
