@import 'reset';
@import 'classes';
@import 'links';
@import 'mixins';
@import 'variables';
@import 'headings';
@import 'header';
@import 'nav';
@import 'footer';
@import 'figure';

:root {
  @include preserve-css-variable(--primary-color, #000);
  @include preserve-css-variable(--secondary-color, #777);
  @include preserve-css-variable(--tertiary-color, #fff);

  font-size: $base-typeface-size;
}

body {
  color: var(--primary-color);
  font-family: $font-stack--reading-text;
  margin: auto;
  line-height: $leading;
}

ul {
  list-style-type: circle;
  margin: 0 0 20px;
}

}

abbr {
  text-decoration: none;
}

sub,
sup {
  ////
  /// Where the magic happens: makes all browsers position the sup/sup properly,
  /// relative to the surrounding text
  ////
  position: relative;

  ////
  /// Note that if you're using Eric Meyer's reset.css, this is already set and
  /// you can remove this rule
  /// surrounding text
  ////
  font-size: 75%;
}

sub {
  ////
  /// Move the subscripted text down, but only half as far down as the superscript
  /// moved up
  ////
  bottom: -.25em;
}

sup {
  ////
  /// Move the superscripted text up
  ////
  top: -.5em;
}
