{%- import 'app/controllers/macros/layouts.njk' as layouts -%}
<!DOCTYPE html>
<html lang="en">
  {{ layouts.head('Arduino Labs | Computing Sciences Dept | University of Hartford', 'Using a hands-on approach, the Arduino labs on this site introduce students to various concepts in computer science at a micro level.')
  }}
<body>
{% include 'app/controllers/blocks/ie_version_warning.njk' %}
{% include 'app/controllers/blocks/header.njk' %}
{{ layouts.nav('home', links) }}
{% include 'app/controllers/blocks/footer.njk' %}
</body>
</html>
